# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
    
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
      
    - name: Set up env
      run:  python -m venv penv

    - name: Activate env
      run:  source source penv/bin/activate  

    - name: Update pip
      run:  python -m pip install --upgrade pip  
      
    - name: Install dependencies
      run:  pip install -r requirements.txt
      
    - name: Train
      run:  python train.py

    - name: Classification
      run:  python train.py
